
:root{
    --pos: 15px;
    --end-pos: 0;
}
body{
    font-family: 'Rubik' ,sans-serif;
    color: #777;
    margin: 0px;
}
.f{float: left;}
.row{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
#top{
    background-color: #f0f2f5;
    padding: 10px 0px;
    overflow: hidden;
}
.anchor-pointer{
    box-shadow: 0px 0px 20px -10px #000;
    width: fit-content;
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    border-radius: 50px;
    transition: 0.5s;
}
.anchor-pointer a{
   width: min-content;
   box-sizing: border-box;
   padding: 13px;
   font-size: 30px;
   color: #7cb434;
   cursor: pointer;
   font-weight: 900;
}
.anchor-pointer:hover{
    background-color: #7cb434;
    transition: 0.5s;
}
.anchor-pointer a:hover{
    color: #fff;
    transition: 0.5s;
}
a{text-decoration: none;}
.kontakt, .soc{
    float: left;
    width: 50%;
}
.soc{text-align: right;}
.kontakt a{
    color:#b1b3b5;
    transition:0.6s;
    font-size: 12px;
    width: 50%;
}
.kontakt a:hover{color:#7db537;}
.kontakt img{
    vertical-align: middle;
    margin-right: 5px;
}
.poczta{margin-left: 30px;}
.socjal{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    text-align: center;
    margin-right: 5px;
    background-color: rgb(255,255,255);
    transition: 0.6s;
    cursor: pointer;
}
.socjal:hover{
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    font-weight: bold;
}
.logo{width: 25%;}
#bottom .row{height: 120px;}
.menu{
    width: 55%;
    position: relative;
    display: flex;
    align-items: flex-start;
    text-align: center;
}
.search{width: 5%;}
.security{width: 15%;}
nav a{
    font-size: 18px;
    padding-top: 42px;
}
.menu a{
    color: #2b2b2b;
    line-height: 120px;
    font-size: 18px;
    display: inline-block;
    padding: 0px 10px;
}
.menu a:hover{
    color: #7cb434;
    transition: 0.2s;
}
.menu a.active{color: #7cb434;}
.search img{margin-top: 50px;}
.sec{
    background-color: #7cb434;
    color: #fff;
    padding: 15px;
    display: block;
    text-align: center;
    transition: 0.7s;
    border-radius: 5px;
    margin-top: 35px;
}
.sec:hover{background-color: #f99e3e;}
/* Menu Dropdown */
.menu-dropdown{
    height: 120px;
    overflow: visible;
    display: flex;
    flex-direction: column;
    width: 92px;
}
.menu-dropdown:nth-of-type(2){
    right: 34%;
    left: initial;
}
.menu-dropdown .menu-dropdown-content{
    position: relative;
    width: 200px;
    animation: dropdown-anim-off 500ms ease-in-out 0s 1 forwards !important;
    text-align: left;
    z-index: 2;
}
.menu-dropdown:hover .menu-dropdown-content{
    animation: dropdown-anim 500ms ease-in-out 0s 1 forwards !important;
}
.menu-dropdown-content a:hover{background-color: #7cb434; color: #fff;}
.menu-dropdown-content a{
    line-height: initial;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    width: 100%;
    padding: 20px 10px;
    background-color: #fff;
}
.menu-dropdown-content a:nth-of-type(n+2){
    border-top: 0.5px solid #efefef;
}
@keyframes dropdown-anim{
    from{left: -20px; opacity: 0; visibility: hidden;}
    to{left: 0px; opacity: 1; visibility: visible;}
}
@keyframes dropdown-anim-off{
    from{left: 0; opacity: 1; visibility: visible;}
    to{left: -20px; opacity: 0; visibility: hidden;}
}
#slider{
    background: url('images/main-slider/image-1.jpg') center center;
    background-image: url('images/main-slider/image-1.jpg');
    height: 720px;
    position: relative;
}
#slider.background-change{background-image: url('images/main-slider/image-2.jpg');}
.slider-float{float: right; transition: 5s;}
#slider:hover .slider-arrow{opacity: 1; transition: 0.2s;}
.slider-arrow{
    position: absolute;
    color: #fff;
    font-size: 30px;
    padding: 20px;
    border: 3px solid rgba(255,255,255,0.5);
    border-radius: 50px;
    font-weight: bold;
    top: 350px;
    line-height: 30px;
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
}
.slider-arrowL{left: 10px;}
.slider-arrowR{right: 10px;}
.slider-arrow > span{
    position: relative;
    bottom: 2px;
}
.slider-arrow:hover{
    border-color: #88bb47;
    color: #88bb47;
    transition: 0.2s;
}
.sl{
    background: rgba(0,0,0,0.7);
    height: 720px;
    color: #fff;
}
.row-1{
    padding-top: 200px;
    width: 40%;
    text-align: left;
}
.row-1 h2{
    font-size: 50px;
    margin: 20px 0px;
}
.row-1 p{line-height: 30px;}

.get-started{
    float: left;
    width: 50%;
}
.talk{
    margin-top: 10px;
    float: left;
    border-bottom: 4px solid #fff;
    padding-bottom: 5px;
}
.bt2{
    display: block;
    text-align: center;
    background-color: #f89429;
    border-radius: 5px;
    color: #fff;
    padding: 2px 10px;
    transition: 0.4s;
    width: 90%;
    box-sizing: border-box;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}
.bt2 p{
   position: relative;
   z-index: 1;
}
.bt2 img{
    position: relative;
    height: fit-content;
    margin-top: 16px;
    z-index: 1;
}
.bt2::before{
    content: ' ';
    position: absolute;
    top: -10px;
    left: 0;
    border-bottom: 80px solid #7cb434;
    border-right: 50px solid transparent;
    height: 0;
    width: 200px;
    transform: translateX(-250px);
    transition: all 1s ease;
}
.bt2::after{
    content: ' ';
    position: absolute;
    top: -10px;
    right: 0;
    border-bottom: 80px solid #7cb434;
    border-left: 50px solid transparent;
    height: 0;
    width: 200px;
    transform: translateX(250px);
    transition: all 1s ease;
}
.bt2:hover::before{
    transform: translateX(0px);
    transition: all 1s ease;
}
.bt2:hover::after{
    transform: translateX(0px);
    transition: all 1s ease;
}
#slider .row {
    height: 720px;
    box-sizing: border-box;
}
.info-1{
    box-sizing: border-box;
    padding: 40px 0px 0px;
    width: 33.3343333333%;
    float: left;
    position: relative;
    height: 150px;
}
.info-boxes > :nth-child(1){
    box-shadow: inset -20px 20px 20px -30px #000000;
}
.info-boxes > :nth-child(3){
    box-shadow: inset 20px 20px 20px -30px #000000;
}
.ico-box-1{
    float: left;
    padding: 10px 10px;
}
.info-box{
    float: left;
    width: 50%;
}
.info-box a{color: #222;}
.st{
    background-image: url('img/strzalka-right.png');
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    width: 30px;
    padding: 40px 10px;
}
.line{
    margin-top: 20px;
    width: 20%;
    height: 5px;
    background-color: #555555;
    float: right;
    transition: 0.8s;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.info-1:hover .line{
    width: 100%;
    background-color: #f89429;
}

.info-1 a:hover{
    transition: 0.5s;
    color: #7cb434;
}
.top{
    position: relative;
    top: -40px;
    background: #fff;
}
/* Home Security Section */
.home-security{
    display: flex;
    box-sizing: border-box;
    padding-bottom: 50px;
}
.home-security-text{
    padding-right: 20px;
    padding-bottom: 5px;
    width: 50%;   
}
.home-security-text h2{
    font-size: 44px;
    color: #222;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 15px;
}
.home-security-images{
    padding-left: 20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 20px;
    width: 50%;
}
.home-security-title{
    height: 60px;
    background-image: url('images/icons/separater.png');
    background-position: left 1px;
    background-repeat: no-repeat;
}
.home-security-title p{
    padding-left: 35px;
    padding-top: 5px;
}
.home-security-bold{
    color: #222;
    font-weight: 500;
    line-height: 30px;
}
.text{
    color: #555555;
    font-weight: 300;
    line-height: 28px;
}
.read-more a{
    color: #7cb434;
    font-weight: 500;
}
.read-more span{
    font-size: 18px;
    padding-left: 5px;
}
.read-more a:hover{
    transition: 0.6s;
    color: #222;
    border-bottom: 1px solid #7cb434;
}
/* Premium security */
.premium-security{
    padding-top: 60px;
    background-color: #f0f2f5;
    background-image: url('images/background/pattern-1.png');
    background-repeat: repeat-x;
    background-position: 0 100%;
    animation: premium-bg 5s linear 0s infinite normal;
}
@keyframes premium-bg{
    from {background-position: 0 100%;}
    to {background-position: 300px 100%;}
}
.icons img{
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.premium-security-heading{
    font-size: 20px;
    color: #222;
    text-align: center;
    width: 100%;
}
.premium-security-heading h1{font-weight: 500;}
.premium-security .text{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 45%;
}

.premium-security-images{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 150px;
}
.premium-security-box{
    margin: 18px;
    background-color: #fff;
    max-width: 30%;
    box-sizing: border-box;
    height: 100%;
}

.premium-security-box-image{
    box-sizing: border-box;
    max-height: 264px;
    position: relative;
    overflow: hidden;
}
.premium-sec-img-hov{
    height: fit-content;
}
.premium-sec-img-hov::before{
    content: ' ';
    width: 200px;
    height: 100px;
    background-color: #7cb434;
    border-radius: 100px / 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.7;
    z-index: 3;
}
.premium-security-box:hover .premium-sec-img-hov::before{
    animation: premium-security-image 600ms ease-in 0s 1 normal !important;
}
@keyframes premium-security-image{
    0%{transform: translate(-50%, -50%) scale(0);}
    85%{transform: translate(-50%, -50%) scale(5);}
    100%{transform: translate(-50%, -50%) scale(5); opacity: 0;}
}
.premium-security-box img{
    width: 100%;
    height: 264px;
    transition: all 600ms ease-in-out;
}
.premium-security-box:hover img{
    transform: scale(1.075);
    transition: all 600ms ease-in-out;
}
.premium-security-box-text{
    box-sizing: border-box;
    height: 40%;
    padding: 20px 20px 20px 20px;
    z-index: 3;
    position: relative;
    background-repeat: no-repeat;
    background-position-x: 34px;
    background-position-y: 47px;
}
.premium-security-box-text h5{
    margin-left: 50px;
    color: #222;
    font-size: 20px;
    font-weight: 500;
}
.premium-security-box-text a{
    color: #222;
    transition: 0.75s;
}
.premium-security-box-text .text{
    margin: 0;
    width: 100%;
    color: #000;
    transition: 0.75s;
}
.premium-security-images > :nth-child(1) .premium-security-box-text{background-image: url('img/Premium-security/Camera.png');}
.premium-security-images > :nth-child(2) .premium-security-box-text{background-image: url('img/Premium-security/Monitor.png');}
.premium-security-images > :nth-child(3) .premium-security-box-text{background-image: url('img/Premium-security/Alarm.png');}
.premium-security-images > :nth-child(4) .premium-security-box-text{background-image: url('img/Premium-security/Keyboard.png');}
.premium-security-images > :nth-child(5) .premium-security-box-text{background-image: url('img/Premium-security/Bell.png');}
.premium-security-images > :nth-child(6) .premium-security-box-text{background-image: url('img/Premium-security/Phone.png');}
/* Premium Security Hover*/
.premium-security-box-bg{
    position: relative;
}
.premium-security-box-bg::before{
    content: " ";
    padding: 46.75px 0px;
    background-color: #f89429;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.75s ease-in-out;
}
.premium-security-box-bg::after{
    content: " ";
    padding: 46.75px 0px;
    background-color: #f89429;
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all 0.75s ease-in-out;
}
.premium-security-box:hover .premium-security-box-bg::before{
    transition: all 0.75s ease-in-out;
    padding: 46.75px 180px;
}
.premium-security-box:hover .premium-security-box-bg::after{
    transition: all 0.75s ease-in-out;
    padding: 46.75px 180px;
}
.premium-security-box:hover .premium-security-box-text a{
    transition: 0.75s;
    color: #fff;
}
.premium-security-box:hover .premium-security-box-text .text{
    transition: 0.75s;
    color: #fff;
}
.premium-security-images > :nth-child(1):hover .premium-security-box-text{background-image: url('img/Premium-security/Camera-orange.png');}
.premium-security-images > :nth-child(2):hover .premium-security-box-text{background-image: url('img/Premium-security/Monitor-orange.png');}
.premium-security-images > :nth-child(3):hover .premium-security-box-text{background-image: url('img/Premium-security/Alarm-orange.png');}
.premium-security-images > :nth-child(4):hover .premium-security-box-text{background-image: url('img/Premium-security/Keyboard-orange.png');}
.premium-security-images > :nth-child(5):hover .premium-security-box-text{background-image: url('img/Premium-security/Bell-orange.png');}
.premium-security-images > :nth-child(6):hover .premium-security-box-text{background-image: url('img/Premium-security/Phone-orange.png');}

/*Contact Middle*/
.contact-middle{
    width: 100%;
    background-color: #7cb434;
}
.contact-middle{
    padding: 50px 0px;
    font-size: 30px;
    color: #fff;
}
.contact-middle-content{
    display: flex;
    justify-content: flex-start;
}
.contact-middle-content span{font-weight: 500;}

.contact-middle-icon{
    vertical-align: middle;
    width: fit-content;
    height: fit-content;
    margin-top: 4px;
    margin-right: 20px;
    background-color: #6a992c;
    padding: 10px 30px 4px 30px;
    border-radius: 0px 7px 7px 0px;
}
.contact-middle-text{
    width: fit-content;
}
.contact-middle-content a{
    border-radius: 3px;
    border: 2px solid white;
    margin: 0 0 0 150px;
    overflow: hidden;
    transition: 1s;
}
.contact-middle-button{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    float: right;
    padding: 20px 30px 20px 30px;
    transition: 0.5s;
    position: relative;
}
.contact-middle-btn-text{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    z-index: 1;
    position: relative;
}
.contact-middle-button::before{
    content: ' ';
    position: absolute;
    top: -10px;
    left: 0;
    border-bottom: 100px solid #f89429;
    border-right: 50px solid transparent;
    height: 0;
    width: 200px;
    transform: translateX(-240px);
    transition: all 1s ease;
}
.contact-middle-button::after{
    content: ' ';
    position: absolute;
    top: -10px;
    right: 0;
    border-bottom: 100px solid #f89429;
    border-left: 50px solid transparent;
    height: 0;
    width: 200px;
    transform: translateX(240px);
    transition: all 1s ease;
}
.contact-middle-content a:hover .contact-middle-button::before{
    transition: all 1s ease;
    transform: translateX(0px);
}
.contact-middle-content a:hover .contact-middle-button::after{
    transition: all 1s ease;
    transform: translateX(0px);
}
.contact-middle-content a:hover{
    border: 2px solid #f89429;
    transition: 1s;
}
/*Gallery*/
.gallery{
    margin-top: 100px;
    overflow: hidden;
}
.gallery-box-main{max-height: 1200px;}
.gallery .row{overflow: visible;}
.gallery-box-text{
    width: 95%;
    position: relative;
    margin: 0 auto 50px auto;
}
.gallery-box-text img{
    width: 100%;
}
.gallery-text{
    width: 40%;
    padding: 20px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #fff;
    box-shadow: #000000 -4px 7px 20px -20px;
}
.gallery-text .text{
    margin-top: 0;
    margin-left: 40px;
}
.gallery-text h2{
    margin: 0px 5px 20px 40px;
    font-size: 35px;
    font-weight: 500;
}
.gallery-text a{
    color: #222;
    transition: 0.5s;
}
.gallery-text a:hover{color: #6a992c;}

.gallery-text img{
    width: initial;
    top: 35px;
    left: 0;
    position: relative;
}
.gallery-box-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
}
.gallery-image{
    position: relative;
    overflow: hidden;
}
.gallery-hover-long{
    text-align: center;
    background: rgba(0,0,0,0.6);
    color: #fff;
    position: absolute;
    width: 750px;
    padding-top: 95px;
    padding-bottom: 95px;
    left: -750px;
}
.gallery-box-images .text{color: #fff;}

/*Gallery hover animations*/
.gallery-hover{
    text-align: center;
    background: rgba(0,0,0,0.6);
    color: #fff;
    position: absolute;
    width: 360px;
    padding-top: 95px;
    padding-bottom: 95px;
    left: -360px;
}
.gallery-hover a{color: #fff; transition: 0.5s;}
.gallery-hover-long a{color: #fff; transition: 0.5s}
.gallery-hover a:hover{color: #f89429;}
.gallery-hover-long a:hover{color: #f89429;}

.gallery-hover-long{
    text-align: center;
    background: rgba(0,0,0,0.6);
    color: #fff;
    position: absolute;
    width: 750px;
    padding-top: 95px;
    padding-bottom: 95px;
    left: -750px;
}
.gallery-image .gallery-hover{animation: gallery-hover-off 250ms ease-in-out 0s 1 forwards;}
.gallery-image:hover .gallery-hover{animation: gallery-hover 250ms ease-in-out 0s 1 forwards;}
.gallery-image .gallery-hover-long{animation: gallery-hover-off-long 250ms ease-in-out 0s 1 forwards;}
.gallery-image:hover .gallery-hover-long{animation: gallery-hover-long 250ms ease-in-out 0s 1 forwards;}
@keyframes gallery-hover{from{left: -360px;}to{left: 0px;}}
@keyframes gallery-hover-off{from{left: 0px;}to{left: 360px;}}
@keyframes gallery-hover-long{from{left: -750px;}to{left: 0px;}}
@keyframes gallery-hover-off-long{from{left: 0px;}to{left: 750px;}}

/*Statistics*/
.stats{
    margin-top: 100px;
    width: 100%;
    background-color: #f89429;
    background-image: url('images/icons/logo-icon.png');
    background-repeat: no-repeat;
    background-position: -40px 135%;
}
.stats-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.stats-col1{
    box-sizing: border-box;
    padding: 80px;
    width: 60%;
    color: #fff;
}
.stats-col1 h1{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 7px;
}
.stats-col1 .text{color: #fff;}
.stat-line-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;
}
.stat-line-text h4{width: 30%;}
.stat-line-text h4:nth-of-type(2){text-align: right;}
.bar-background{
    background-color: #faaa54;
    height: 10px;
    width: 100%;
    border-radius: 50px;
}
.bar-main{
    position: relative;
    border-radius: 50px 0 0 50px;
    height: 10px;
    background-color: #fff;
}
.stat-line:nth-of-type(1) .bar-main{animation: stat-1 1s ease-in-out 0s 1 forwards;}
.stat-line:nth-of-type(2) .bar-main{animation: stat-2 1s ease-in-out 0s 1 forwards;}
.stat-line:nth-of-type(3) .bar-main{animation: stat-3 1s ease-in-out 0s 1 forwards;}

.stats-icons{
    position: absolute;
    left: 62.5%;
    top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 50px;
}
.stats-icon{
    height: 80px;
    width: 80px;
    border-radius: 50px;
    border: 10px solid rgba(255,255,255,0.5);
    background-repeat: no-repeat;
    background-size: 100%;
}
.stats-icon:nth-of-type(1){background-image: url('img/icon1-stats.png');}
.stats-icon:nth-of-type(2){background-image: url('img/icon2-stats.png');}
.stats-icon:nth-of-type(3){background-image: url('img/icon3-stats.png');}

.stats-col2{
    background-image: url('images/resource/image-1.jpg');
    background-repeat: no-repeat;
    padding-bottom: 0px;
    background-size: 100% 100%;
    width: 35%;
}
/*Statistics Animations*/
@keyframes stat-1{from{width: 0%;}to{width: 83%;}}
@keyframes stat-2{from{width: 0%;}to{width: 75%;}}
@keyframes stat-3{from{width: 0%;}to{width: 95%;}}

/*Team Section*/
.team-row1{padding-top: 80px;}
.team-row1 img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;
}
.team-text{
    color: #222;
    text-align: center;
}
.team-text h1{
    margin-top: 5px;
    font-size: 45px;
    font-weight: 500;
}
.team-text .text{
    margin-right: auto;
    margin-left: auto;
    width: 45%;
}
.team-row2{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 5px 5px 20px;
}
.team-member-photo{
    overflow: hidden;
    position: relative;
}
.team-member-text{
    overflow: visible;
    padding-bottom: 20px;
    text-align: center;
    transition: 0.5s;
}
.team-member-text h4{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}
.team-member-text a{color: #222;}

/* Team Hover Animations*/
.team-member-hover{
    text-align: center;
    background: rgba(0,0,0,0.6);
    color: #fff;
    position: absolute;
    width: 263px;
    padding-top: 135px;
    padding-bottom: 135px;
    left: -263px;
}
.team-member-hover .socjal{
    color: #fff;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0.6);
}
.team-member:hover .team-member-text{
    transition: 0.5s;
    box-shadow: #000000 0px 8px 20px -15px;
}
.team-member-hover .socjal:hover{background-color: #f89429;}
.team-member:hover .team-member-hover{animation: team-member-hover 250ms ease-in-out 0s 1 forwards;}
.team-member .team-member-hover{animation: team-member-hover-off 250ms ease-in-out 0s 1 forwards;}
@keyframes team-member-hover{from{left: -263px;}to{left: 0px;}}
@keyframes team-member-hover-off{from{left: 0px;}to{left: 263px;}}

/* Reviews */
.client-reviews{
    background-image: url('images/background/1.jpg');
    background-attachment: fixed;
}
.reviews-bg-opacity{
    background-color: rgba(0,0,0,0.75);
    width: 100%;
}
.reviews-col1{
    margin-top: 70px;
    text-align: center;
    color: #fff;
}
.reviews-col1 h1{
    font-size: 40px;
    font-weight: 500;
}
.reviews-col1 .text{
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    color: #c7c9c9;
}
.reviews-col2{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 3550px;
    transition: all 1s ease-in-out 0s;
}
.review{
    position: relative;
    text-align: center;
    padding: 5px;
    animation: reviews-scroll 25s linear 0s infinite forwards;
    left: var(--pos);
}
.review h4{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 15px;
}
.review h4::before{
    content: url('img/quotes.png');
    margin-right: 15px;
}
.review .text{
    color: #fff;
    font-size: 15px;
}
.review-author{
    margin-top: 30px;
    height: 80px;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
}
.review-author-pic{
    margin-right: 10px;
    float: left;
}
.review-author-pic img{
    margin-top: 5px;
    border-radius: 50px;
}
.review-author-text{
    text-align: left;
    float: left;
}
.review-author-text h5{
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin: 0;
}
.review-author-text .text{
    font-size: 12px;
    color: #aaaaaa;
}
.review-rating{
    letter-spacing: -3px;
    position: relative;
    left: -3px;
    bottom: 6px;
}
/* Review Scrolling */
.reviews-col3{
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
}
.dot{
    width: 0.5px;
    padding: 5px;
    border-radius: 50px;
    margin: 30px 6px 90px 6px;
    background-color: rgba(255,255,255,0.5);

}
.dot:hover{
    transition: 0.5s;
    background-color: #7cb434;
    cursor: pointer;
}
/*@keyframes reviews-scroll{from{left: 0;}to{left: -2365px;}}*/

/*News*/
.news{margin-top: 80px;}
.news-text{text-align: center;}
.news-text h1{
    color: #222;
    font-size: 50px;
    font-weight: 500;
}
.news-text .text{
    margin: 0 auto 0 auto;
    width: 45%;
}
.news-row{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}
.news-box{
    border: 1px solid #e4e6e9;
    padding: 35px;
    margin: 15px;
    transition: 0.5s;
}
.news-info{
    font-size: 14px;
    font-weight: 400;
}
.news-info img{
    margin-right: 7px;
    vertical-align: middle;
}
.news-box .text{
    margin: 15px 0 15px 0;
    font-size: 15px;
}
.news-info img:nth-of-type(2){margin-left: 20px;}
.news-info span{
    font-weight: 400;
    font-size: 13px;
}
.news-box a{
    color: #222; 
    transition: 0.5s;
}
.news-box h4{
    margin: 10px 0 10px 0;
    font-size: 20px;
    font-weight: 13px;
    font-weight: 500;
}
.news-box h5{
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}
.news-box h5 span{
    margin-left: 2px;
    font-size: 18px;
}
/*News Hover Anims*/
.news-box a:hover{
    transition: 0.5s;
    color: #f89429;
}
.news-box:hover{
    border: none;
    box-shadow: #000000 0px 2px 20px -10px;;
    transition: 0.5s;
}

/* Introducing what matters */
.what-matters{
    background-color: #f1f1f1;
    background-image: url('images/background/2.jpg');
    background-size: 100%;
    color: #222;
    margin-top: 80px;
}
.what-matters-content{
    padding: 80px 15px 140px 15px;
}
.what-matters-content h4{
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
.what-matters-content h1{
    font-size: 60px;
    font-weight: 500;
    margin: 0;
    width: 80%;
}
.what-matters-content .text{
    color: #222;
    width: 40%;
    margin: 15px 0 25px 0;
    font-size: 19px;
}
.what-matters-content .bt2{
    width: 25%;
    border-radius: 3px;
    float: left;
}
.what-matters-content .bt2 img{margin-top: 10px;}
.what-matters-content .bt2 > *{z-index: 1;}
.what-matters-content .talk{
    border-bottom: 3px solid #7cb434;
    margin-left: 40px;
    font-size: 17px;
}
.what-matters-content a{
    color: #222;
}
/* Clients */
.clients .row{
    position: relative;
    height: 250px;
}
.Clients-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 80px 0;
    overflow: hidden;
    position: absolute;
    left: 0px;
    animation: Clients-anim 15s linear 0s infinite forwards;
}
.Clients-content img:hover{
    transition: 0.5s;
    opacity: 0.5;
    filter: grayscale(100%);
}
@keyframes Clients-anim {
    0%, 15% {left: 0;}
    20%, 35% {left: -240px;}
    40%, 55% {left: -480px;}
    60%, 75% {left: -720px;}
    80%, 95% {left: -960px;}
    100% {left: -1200px;}
}
/* End section */
.end-section{
    background-color: #222;
}
.end-section-row1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    margin-top: 60px;
    line-height: 28px;
    border-bottom: 1px solid #2f2f2f;
    padding-bottom: 50px;
}
.end-section-row1 .text{color: #fff;}
.contacts{
    background-repeat: no-repeat;
    background-position: left center;
}
.contacts p{margin: 0 0 0 55px;}
.contacts:nth-of-type(2){background-image: url('img/tel-3.png');}
.contacts:nth-of-type(3){background-image: url('img/email.png');}
.contacts:nth-of-type(4){background-image: url('img/clock.png');}

.end-section-row2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.end-section-box1 .socjal{
    color: #aaa;
    background-color: #393939;
    margin: 15px 0 15px 0;
}
.end-section-row2{margin: 50px 0 100px 0;}

.end-section-box1 .socjal:hover{background-color: #f89429; color: #fff;}
.end-section-box1 .text{
    color: #999;
    margin-top: 18px;
    line-height: 25px;
    font-size: 14px;
}
.copyright{
    font-size: 15px;
    line-height: 25px;
    color: #999;
}
.copyright a{
    color: inherit;
    text-decoration: underline;
    transition: 0.5s;
}
.copyright a:hover{color: #f89429; transition: 0.5s;}
.end-section-box1{width: 25%;}

.end-section-row2 h4{
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0;
}
.end-section-list{
    position: relative;
    width: 20%;
}
.end-section-list ul{
    position: absolute;
    left: 0px;
    list-style: none;
    padding: 0;
    line-height: 34px;
}
.end-section-list a{color: #999; transition: 0.5s;}
.end-section-list a:hover{color: #6a992c; transition: 0.5s;}
.end-section-location{width: 25%;}
.location{
    background-color: #fff;
    border-radius: 2.5px;
    padding: 2.5px 25px;
    width: 80%;
    cursor: pointer;
    font-weight: 400; 
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin: 25px 0 0 0;
    position: relative;
}
.location > *{user-select: none;}
.location > span{
    display: block;
    width: fit-content;
    font-weight: 700;
    position: absolute;
    top: 25px;
    right: 1.5rem;
    transition: 0.1s;
}

.location-dropdown{
    background-color: #fff;
    width: 290px;
    border-radius: 0 0 2.5px 2.5px;
    padding: 1px;
    box-sizing: border-box;
    visibility: hidden;
    transition: 0.1s;
}
.location-dropdown .text{
    margin: 0px;
    font-size: 14px;
    border-top: 0.5px solid #e0e0e0;
    padding: 5px 20px;
    color: #333;
    font-weight: 300;
    cursor: pointer;
    user-select: none;
}
.location-dropdown .text:hover{
    background-color: #6a992c;
    color: #fff;
}
/* GALLERY  PAGE */
/* Main Slider */
#slider-gallery{
    background: url('images/background/3.jpg') -50px -80px;
    height: 450px;
}
#slider-gallery .row-1{
    width: auto;
    text-align: center;
}
#slider-gallery .row h1{
    font-size: 60px;
    font-weight: 500;
    margin: 0;
}
#slider-gallery .row p{
    font-size: 16px;
    font-weight: 300;
}
#slider-gallery .row span{margin: 0 10px 0 10px; font-weight: bold;}
#slider-gallery .sl{height: 450px;}

/* Gallery pictures */
.gallery-images { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px 25px;
    grid-auto-flow: row;
    grid-template-areas:
      "small1 big-picture big-picture small2"
      "small3 big-picture big-picture small4"
      "med1 med1 med2 med2";
    margin-top: 50px;
}
.big1 { grid-area: big-picture; }
.small1 { grid-area: small1; }
.small2 { grid-area: small2; }
.small3 { grid-area: small3; }
.small4 { grid-area: small4; }  
.med1 { grid-area: med1; }  
.med2 { grid-area: med2; }
.gallery-images img{
    height: 100%;
    width: 100%;
}
/* Gallery Images Hover */
.gallery-images > *{
    position: relative;
    overflow: hidden;
}
.gallery-images a{color: #fff; transition: 0.5s;}
.gallery-images a:hover{color: #f89429; transition: 0.5s;}
.gallery-images-hover{
    text-align: center;
    background: rgba(0,0,0,0.6);
    color: #fff;
    position: absolute;
    width: 281.25px;
    padding-top: 100px;
    padding-bottom: 100px;
    left: -281.25px;
}
.gallery-images-hover-big{
    text-align: center;
    background: rgba(0,0,0,0.6);
    color: #fff;
    position: absolute;
    height: 100%;
    width: 587.5px;
    padding-top: 230px;
    padding-bottom: 230px;
    left: -587.5px;
}
.gallery-images-hover-med{
    text-align: center;
    background: rgba(0,0,0,0.6);
    color: #fff;
    position: absolute;
    width: 587.5px;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    left: -587.5px;
}
.small1:hover .gallery-images-hover{animation: gallery-images-hover 250ms ease-in-out 0s 1 forwards;}
.small2:hover .gallery-images-hover{animation: gallery-images-hover 250ms ease-in-out 0s 1 forwards;}
.small3:hover .gallery-images-hover{animation: gallery-images-hover 250ms ease-in-out 0s 1 forwards;}
.small4:hover .gallery-images-hover{animation: gallery-images-hover 250ms ease-in-out 0s 1 forwards;}
@keyframes gallery-images-hover{from{left: -281.25px;}to{left: 0px;}}

.big1:hover .gallery-images-hover-big{animation: gallery-images-hover-big 250ms ease-in-out 0s 1 forwards;}
@keyframes gallery-images-hover-big{from{left: -587.5px;}to{left: 0px;}}

.med1:hover .gallery-images-hover-med{animation: gallery-images-hover-med 250ms ease-in-out 0s 1 forwards;}
.med2:hover .gallery-images-hover-med{animation: gallery-images-hover-med 250ms ease-in-out 0s 1 forwards;}
@keyframes gallery-images-hover-med{from{left: -587.5px;}to{left: 0px;}}

.small1 .gallery-images-hover{animation: gallery-images-hover-off-small 250ms ease-in-out 0s 1 forwards;}
.small2 .gallery-images-hover{animation: gallery-images-hover-off-small 250ms ease-in-out 0s 1 forwards;}
.small3 .gallery-images-hover{animation: gallery-images-hover-off-small 250ms ease-in-out 0s 1 forwards;}
.small4 .gallery-images-hover{animation: gallery-images-hover-off-small 250ms ease-in-out 0s 1 forwards;}
@keyframes gallery-images-hover-off-small{from{left: 0px;}to{left: 281.25px;}}

.big1 .gallery-images-hover-big{animation: gallery-images-hover-off-big 250ms ease-in-out 0s 1 forwards;}
.med1 .gallery-images-hover-med{animation: gallery-images-hover-off-big 250ms ease-in-out 0s 1 forwards;}
.med2 .gallery-images-hover-med{animation: gallery-images-hover-off-big 250ms ease-in-out 0s 1 forwards;}
@keyframes gallery-images-hover-off-big{from{left: 0px;}to{left: 587.5px;}}

/* Gallery button */
.gallery-btn{
    width: fit-content !important;
    margin: 70px auto 70px auto;
    font-size: 20px;
    border: 2px solid black;
    padding: 20px 35px;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease;
}
.gallery-btn h5{
    font-weight: 500;
    color: #000;
    margin: 0;
    position: relative;
    transition: 0.5s ease;
}
.gallery-btn span{
    font-weight: 400;
    font-size: 18px;
    position: relative;
}
.gallery-btn::before{
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 20px;
    width: 200px;
    transform: translate(-50%, -50%);
    background-color: #f7952c;
    opacity: 0;
    transition: all 0.5s ease;
}
.gallery-btn:hover::before{
    transform: translate(-50%, -50%) scale(3.125);
    opacity: 1;
    transition: all 0.5s ease;
}
.gallery-btn:hover h5{color: #fff;}
.gallery-btn:hover{border-color: #f7952c;}
/* Contact Page Contact Card */
.ov{overflow: visible;}
.contact-contact-card{
    margin: 90px 0 90px 0;
    display: flex;
    justify-content: start;
    width: 100%;
}
.contact-contact-card > *{
    box-sizing: border-box;
    color: #000;
}
.contact-card-image{width: 55%;}
.contact-card-image img{
    width: 100%;
    height: 100%;
}
.contact-card-text{
    width: 45%;
    padding: 40px;
    box-shadow: #000000 4px 2px 20px -20px;
}
.contact-card-text h3{
    font-size: 25px;
    font-weight: 500;
}
.contact-text{
    font-size: 18px;
    line-height: 25px;
    color: #000;
}
.contact-card-text a{
    color: #000;
    display: block;
    font-size: 24px;
    width: fit-content;
    position: relative;
    margin-left: 40px;
}
.contact-card-text a:nth-of-type(1){margin-bottom: 5px;}
.contact-card-text a:nth-of-type(1)::before{
    content: url('img/tel-orange.png');
    position: absolute;
    top: -5px;
    left: -40px;
}
.contact-card-text a:nth-of-type(2)::before{
    content: url('img/email-orange.png');
    position: absolute;
    top: 3px;
    left: -40px;
}
/* Contact Panels */
.contact-panels{
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}
.contact-panel{
    width: 31.5%;
    box-shadow: #000000 0px 2px 28px -20px;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
    height: 252px;
}
.contact-panel a{
    display: block;
    font-size: 19px;
    width: fit-content;
}
.contact-panel h3{
    color: #000;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
}
.contact-panel:nth-of-type(1) .contact-text{line-height: 30px;}
.contact-panel:nth-of-type(2) .contact-text{line-height: 30px;}
.contact-panel h4 a{
    color: #000;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
}
.contact-panel .text{line-height: 40px;}
.contact-panel .line{background-color: #6a992c;}
.contact-panel:hover .line{width: 100%;}

/* Contact Map */
.contact-map{
    display: flex;
}
.map-container{
    width: 50%;
}
.map-image img{
    height: 100%;
    width: 100%;
}
#map {
    height: 100%;
    width: 100%;
}
.map-image-box{
    position: absolute;
    left: 5px;
    top: 5px;
    background-color: #fff;
    padding: 10px;
    border-radius: 2px;
    width: 35%;
    box-shadow: #000000 0px 2px 28px -20px;
}
.map-image-box h5{
    color: #000;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
}
.map-image-box .text{
    font-size: 12px;
    font-weight: 400;
}
.map-image-box a{
    color: #1a73e8;
    font-size: 12px;
}
.map-image-box-direction{
    height: 70px;
    position: absolute;
    right: 5px;
    top: 2px;
}
.map-image-box-direction img{
    margin-left: 13px;
    width: initial;
    height: initial;
}
.map-image-box-direction a{
    display: block;
    width: 100%;
}
.map-image-box a:hover{
    text-decoration: underline;
}
.map-text{
    width: 50%;
    background-color: #f1f1f1;
    padding: 90px;
    box-sizing: border-box;
}
.map-text .icons{
    width: fit-content;
}
.map-text h2{
    color: #000;
    font-size: 40px;
    font-weight: 500;
    margin: 10px 0;
}
.map-text .text{margin-bottom: 28px;}
.map-inputs{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 15px;
}
.map-inputs .input-small{
    box-sizing: border-box;
    width: 47.5%;
    padding: 15px;
    color: #797979;
    border: 1px solid #e4e6e9;
}
.map-inputs .input-big{
    width: 100%;
    height: 150px;
    resize: none;
    font-family: 'Rubik' ,sans-serif;
    font-size: 14px;
    font-weight: 300;
}
.map-inputs .input-small:focus{
    outline: none;
    border: 1px solid #f89429;
    transition: 0.5s;
}
.map-btn{
    background-color: #7cb434;
    padding: 20px 30px;
    border-radius: 3px;
    color: #fff;
    width: fit-content;
    font-size: 12px;
    font-weight: 500;
    margin-top: 15px;
}
.map-text a{display: block; width: fit-content;}
/* Contact Bottom */
.contact-orange .contact-middle{background-color: #f89429;}
.contact-orange .contact-middle-icon{background-color: #d37e23;}

.contact-orange .contact-middle-button::before{
    content: ' ';
    position: absolute;
    top: -10px;
    left: 0;
    border-bottom: 100px solid #7cb434;
    border-right: 50px solid transparent;
    height: 0;
    width: 200px;
    transform: translateX(-240px);
    transition: all 1s ease;
}
.contact-orange .contact-middle-button::after{
    content: ' ';
    position: absolute;
    top: -10px;
    right: 0;
    border-bottom: 100px solid #7cb434;
    border-left: 50px solid transparent;
    height: 0;
    width: 200px;
    transform: translateX(240px);
    transition: all 1s ease;
}
/* FAQ main content */

/* text & search bar */
.faq-row1{
    text-align: center;
    color: #000;
    margin-top: 80px;
}
.faq-row1 h2{
    font-size: 45px;
    font-weight: 500;
}
.faq-row1 .text{
    font-size: 16px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.faq-input-area{
    margin: 50px 0;
    padding: 50px;
    box-shadow: 0px 0px 20px -10px #000;
    position: relative;
}
.faq-search{
    border: none;
    font-size: 20px;
    font-style: italic;
    font-family: 'Rubik' ,sans-serif;
    color: #444;
    font-weight: 300;
    width: 100%;
    border-bottom: 2px solid #ddd;
    padding-bottom: 15px;
    transition: 0.5s;
    background-image: url('img/lupa.png');
    background-repeat: no-repeat;
    background-position: center right;
}
.faq-search:focus{
    border-color: #6a992c;
    outline: none;
    transition: 0.5s;
}
.faq-line{
    padding: 2.5px;
    background-color: #6a992c;
    position: absolute;
    width: 90px;
    right: 0;
    top: 0;
}

/* FAQ dropdown section */
.faq-row2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.faq-dropdown-w{max-width: 50%;}
.faq-dropdown{
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin: 20px;
    max-height: 60px;
    overflow: hidden;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
    transition: all 0.25s linear;
}

.faq-dropdown h4{
    margin: 0;
    margin-top: 5px;
    color: #000;
    font-size: 22px;
    font-weight: 600;
    display: inline-block;
    transition: all 0.25s linear;
}
.faq-dropdown span{
    font-size: 30px;
    color: #d37e23;
    margin-right: 15px;
    display: inline-block;
}
.faq-dropdown .text{
    margin: 15px 0 30px 38px;
}
.faq-dropdown-toggle{
    transition: all 0.25s linear;
    max-height: 100%;
}
/* Team Page */
.team-row3{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.team-member-big{
    width: 32%;
    height: fit-content;
    position: relative;
}
.team-member-big .team-member-text{
    box-shadow: #000000 0px 8px 20px -15px;
    width: 100%;
    padding-top: 25px;
    position: relative;
    overflow: hidden;
    max-height: 102px;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.team-member-big .team-member-text h4{
    margin-top: 0;
}
.team-member-text > *{position: relative;}
.team-member-big .team-member-photo img{
    width: 100%;
}
.team-member-big .team-member-photo{
    max-height: 438px;
}
.team-member-text::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 160px;
    width: 100%;
    background-color: #7db436;
    transition: all 0.5s ease;
    transform: translateY(-160px);
}
.team-member-text .soc{
    float: none;
    margin: 20px auto;
    width: fit-content;
    opacity: 0;
    transition: all 0.5s ease;
}
.team-member-text .socjal{
    background-color: #7db436;
    color: white;
    border: 1px solid white;
    transition: 0.5s;
}
.team-member-text .socjal:hover{
    background-color: #f89429;
    border-color: #f89429;
}
.team-member-big:hover .team-member-text{
    transition: none;
    box-shadow: none;
    margin-bottom: -8px;
}
.team-member-big:hover .team-member-text a, .team-member-big:hover .text{
    color: white;
    transition: 0.5s;
}
.team-member-text a, .text{transition: 0.5s;}
.team-member-big:hover .team-member-text::before{transform: translateY(0px);}
.team-member-big:hover .team-member-text .soc{opacity: 1;}
.team-member-big:hover .team-member-text{max-height: 160px;}